<h2>Adicione um novo produto</h2>

<%= simple_form_for (@product) do |f|%>
  <%= f.input :name, label: 'Nome' %>
  <%= f.input :description, label: 'Descrição' %>
  <%= f.input :product_type, label: 'Tipo' , collection: ['Terço', 'Pulseira', 'Chaveiro', 'Agenda'] %>
  <%= f.input :price, label: 'Preço' %>
  <%= f.input :photo, as: :file, label: 'Imagem' %>
  <%= f.submit%>
<% end %>
