<div class="container mt-5">
  <div class="product-grid">
    <div class="product-image">
      <div class="links mb-3">
        <%= link_to "Página Principal", "/" %> /
        <%= link_to "Produtos", "/products" %> /
        <%= link_to @product.category.name, "#", style: "pointer-events: none; cursor: default;" %>
      </div>
      <%= cl_image_tag @product.photo.key %>
    </div>
    <div class="product-info">
      <div class="text-area">
        <h2><%= @product.name %></h2>
        <p>R$<%= @product.price.to_i %>,00</p>
        <p><%= @product.description %></p>
      </div>
        <% if user_signed_in? && current_user.admin%>
          <div class="editable-links">
            <%= link_to 'Editar', edit_product_path %> |
            <%= link_to 'Apagar', product_path,
                                  method: :delete,
                                  data: { confirm: "Tem certeza?" } %>
          </div>
        <% end %>
    </div>
  </div>

</div>
